

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  
  body {
    margin: 5px;
    border: 5px;
    padding: 5px;
    background-image: url(https://images.unsplash.com/photo-1513836279014-a89f7a76ae86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60);
    background-color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* color: white; */
  }

  .tab { 
    display: inline-block; 
    margin-left: 40px; 
} 

  h1, h3 {
      text-align: center;
  }

  .first {
    background: rgba(159, 211, 166, 0.9);
  }

  #whisper {
      font-size: 75%;
  }

  footer {
    padding: 1%;
      background: whitesmoke;
      text-align: center;
  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid black;
  }